.container {
    max-width: 1250px;
    margin-top: 100px;
}

form {
    max-width: 100%;
    text-align: left;

}

.booking-form {
    position: absolute;
    top: -550px;
}


#menu-icon {
    display: initial;
}
.img-fluid{
    margin-top: 10px;
}