<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>car rentel</title>
    <!-- css -->
    <link rel="stylesheet" href="css/style.css">

    <!-- box icons -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
</head>

<body>
    <!-- header  -->
    <header>
        <a href="#" class="logo"><img src="img/jeep.png" alt=""></a>
        <div class="bx bx-menu" id="menu-icon"></div>
        <ul class="navbar">
            <li><a href="#home">home</a></li>
            <li><a href="#ride">ride</a></li>
            <li><a href="#services">services</a></li>
            <li><a href="#about">about</a></li>
            <li><a href="#reviews">reviews</a></li>
            <li><a href="#FAQs">FAQs</a></li>
        </ul>
        <div class="header-btn">
            <a href="login.hbs" class="sign-up">Login</a>
            <a href="registration.hbs" class="sign-in">registration</a>
        </div>
    </header>

    </body>
