<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/admin.css">
</head>


<body>
<nav>
    <div class="sidenav">
        <a href="#" class="logo"><img src="img/jeep.png" alt=""></a>
        <div class="bx bx-menu" id="menu-icon"></div>
        <a href="/addcar" class="btnadmin">Add Car</a>
        <a href="/showcaradmin" class="btnadmin">Show Car</a>

        <a href="/order" class="btnadmin">Order</a>
        <a href="#" class="btnadmin">Customer</a>

      </div>
    </nav>
<div class="main-admin">
    <div class="admin">
        <h1>Admin Dashboard </h1>
    </div>
</div>
<!-- 
    <div class="div-btn">
        <a href="/addcar" class="btnadmin">add car</a>
    </div>

    <div class="div-btn">
        <a href="/showcaradmin" class="btnadmin">show car</a>
    </div> -->



</body>
<script>
    function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
    }
    
    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
    }
    </script>

</html>