<!-- bookings/show.ejs -->
<h1>Booking Details</h1>
<p>Car: <%= booking.car %></p>
<p>Date: <%= booking.date %></p>
<h2>User Profile</h2>
<!-- <p>Name: <%= user.name %></p>
<p>Email: <%= user.email %></p> -->
